html,
body {
  height: 100%;
}

body {
  background-color: #0c0d14;
  color: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.items {
  width: 25%;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 60, 80, 0.9);
  border-radius: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  height: 100%;
}

aside h2 {
  background-color: transparent;
  margin-bottom: 15%;
  color: white;
  font-weight: 800;
  font-size: 3vmin;
}

aside ul {
  background: transparent;
  padding: 0%;
  margin-bottom: 1%;
}

aside ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
  background: transparent;
  font-weight: bold;
  font-size: large;
  font-size: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

aside ul li:hover {
  color: rgb(218, 127, 20);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.imagenLista {
  background-color: transparent;
  width: 15%;
  height: 15%;
}

.juego {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  color: white;
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/09/ba/63/09ba63764e3e37674b8f5502b216acd4.png);
  border-radius: 10px;
  margin-right: 2vw;
  height: 100%;
  padding: 1%;
}

.row {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tablero {
  margin-bottom: 15%;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(10, 3.9vmin);
  grid-template-rows: repeat(10, 3.9vmin);
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.cell {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  transition: background-color 0.3s ease;
}

@media (max-width: 1299px) {
  .col-md-6,
  .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .tablero {
    grid-template-columns: repeat(10, 1.8vmin);
    grid-template-rows: repeat(10, 1.8vmin);
  }
}

@media (max-width: 600px) {
  .tablero {
    grid-template-columns: repeat(10, 4.3vmin);
    grid-template-rows: repeat(10, 4.3vmin);
  }
}

@media (max-width: 300px) {
  .tablero {
    grid-template-columns: repeat(10, 6vmin);
    grid-template-rows: repeat(10, 1.8vh);
  }
}

.fade-in-border {
  animation: fadeInBorder 0.5s forwards;
}

@keyframes fadeInBorder {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(218, 127, 20);
  }
}

.username {
  font-size: 2vw;
}

.hover-cell {
  background-color: #f0f0f0;
  cursor: pointer;
}
.colored-cell {
  background-color: yellow;
}
