*{
    list-style-type: none;
}

nav{
    border: 2px solid;
}

nav ul{
    display: flex;
    gap: 2%;
}

#hypervinculo{
    margin-left: auto;
}

.juego{
    display: flex;
    height: 89vh;
}

aside{
    width: 25%;
    border: 2px solid;
    display: flex;
    align-items: center;
}

main{
    width: 75%;
    border: 2px solid;
}

.tablero{
    height: 100%;
    display: flex;
}

#tablero-jugador, #tablero-oponente{
    border: 2px solid;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instrucciones{
    border: 2px solid;
}