*{
    margin:0;
    padding:0;
    font-family: Noto Sans;
    list-style-type: none;
    text-decoration: none;
    background-color: #0c0d14;
    scrollbar-color: #413d3d #000000;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: rgba(33, 34, 51, 0.9);
    height: 10vh;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 3vh;
}

nav ul{
    background: transparent;
    height: 100%;
    display: flex;
    gap: 1%;
    align-items: center;
    margin-left:1%;
}

nav ul li{
    background: transparent;
}

#title{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-right: 3vh;
}

nav ul li img{
    height: 7vh;
    background: transparent;
}

nav ul li input{
    height: 3vh;
    border-radius: 1vh;
    background-color: #373952;
    border-color: transparent;
    font-weight: 700;
    font-size: 14px;
    padding-left: 16px;
}

nav ul li input::placeholder{
    color: #cfcfcf;
}

#hipervinculo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1%;
    height: 6vh;
    font-weight: 800;
    font-size: 14px;
    border-radius: 1.5vh;
    padding: 0vw 1vh;
    background: rgb(218, 127, 20);
}

#hipervinculo:hover{
    background: rgb(255, 165, 0);
    transition: background 0.3s ease;
}

#hipervinculo a{
    color: white;
    background: transparent;
}

.juego{
    display: flex;
    height: 85vh;
    margin-bottom: 10vh;
}

aside{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 60, 80, 0.9);
    border-radius: 2vh;
    margin-right: 3vh;
    margin-left: 3vh;
}

aside h2{
    background-color: transparent;
    margin-bottom: 7vh;
    color: white;
    font-weight: 800;
}

aside ul{
    background: transparent;
}

aside ul li{
    margin-bottom: 4vh;
    background: transparent;
    text-align: center;
    font-weight: bold;
    font-size:large;
}

aside ul li:hover{
    color: rgb(218, 127, 20);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

button {
    font-size: 14sspx;
    color: #e1e1e1;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

.tablero{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    background: transparent;
    justify-content: center;
    align-items: center;
    background: url(assets/game-background.jfif);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh;
    margin-right: 3vh;
    color: white;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    padding: 5vh;
}

#tablero-jugador, #tablero-oponente{
    display: grid;
    width: 80%;
    height: 70%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-color:steelblue;
    border-radius: 1vh;
    justify-self: center;
    align-self: center;
}

#username-local, #username-oponente{
    background-color: transparent;
}

.tablero div{
    justify-self: center;
    align-self: center;
    width: 2vh;
    height: 2vh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.instrucciones {
    color: white;
    margin-bottom: 5vh;
    margin-left: 3vh;
    margin-right: 65vh;
}

.instrucciones h2{
    margin-bottom: 4vh;
}

.instrucciones ul li{
    margin-bottom: 2vh;
}

footer{
    background-color: rgba(33, 34, 51, 0.9);
    color: white;
    text-align: end;
    padding-right: 1vw;
}